{% extends "partials/base.html" %}

{% block title %}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-4">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3>
                        form
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card shadow my-3">
            <div class="crad-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                        <small>20th june 2024</small>
                        <hr>
                        <a class="h3" href="">First Post</a>
                        <p class="text-justify my-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius facere officiis eveniet, earum id delectus explicabo ducimus pariatur, temporibus ratione beatae fugiat repudiandae harum quam iure doloribus possimus, nesciunt illo!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 ">
        <div class="card shadow my-3">
            <div class="crad-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                        <small>20th june 2024</small>
                        <hr>
                        <a class="h3" href="">First Post</a>
                        <p class="text-justify my-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius facere officiis eveniet, earum id delectus explicabo ducimus pariatur, temporibus ratione beatae fugiat repudiandae harum quam iure doloribus possimus, nesciunt illo!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card shadow my-3">
            <div class="crad-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                        <small>20th june 2024</small>
                        <hr>
                        <a class="h3" href="">First Post</a>
                        <p class="text-justify my-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius facere officiis eveniet, earum id delectus explicabo ducimus pariatur, temporibus ratione beatae fugiat repudiandae harum quam iure doloribus possimus, nesciunt illo!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block menu %}
<h1> This is menu </h1>
{% endblock %}