{% extends "partials/base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block title %} Password Reset Confirm PAGE {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Password Reset Confirm Page</h4>
                        <hr>
                        <div class="alert alert-info">
                            Enter email and a mail will instructions to reset password
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <input class="btn btn-primary btn-block" type="submit" value="Reset Password Confirm">
                        </form>
                        <hr>
                        
                    </div>
                </div>
            </div>
        </div>   
    </div>

{% endblock content %}
